In [ ]:
import pandas as pd

# Lire un fichier CSV

> Différentes méthode pour lire un fichier

> Avec la méthode `read_table()`

In [ ]:
google_app = pd.read_table("GooglePlayStore.csv", sep=",")
google_app

> Avec la méthode `read_csv()`

In [ ]:
google_app = pd.read_csv('googleplaystore.csv')
google_app.head(15)

> Pour afficher toutes les lignes avec la méthode `pd.set_option('display.max_rows', None)`

In [ ]:
pd.set_option('display.max_rows', None)
google_app

> Pour mettre la colonne App en tant qu'index

# Accéder aux éléments d'un Dataframe

In [ ]:
google_app_index = google_app.set_index("App")
google_app_index

> Utilisation de la méthode `iloc` on l'utilise pour faire appel à des index

In [ ]:
google_app_index.iloc[4,3]

In [ ]:
google_app_index.iloc[4]

> Utilisation de la méthode `loc` on l'utilise pour faire appel à des noms

In [ ]:
google_app_index.loc["Pixel Draw - Number Art Coloring Book", "Size"]

In [ ]:
google_app_index.loc["Pixel Draw - Number Art Coloring Book"]

In [ ]:
google_app_index.loc["Udemy - Online Courses", :]

> Slicing avec `iloc`

In [ ]:
google_app_index.iloc[0:4,:]

In [ ]:
google_app_index.iloc[:,0:4].head()

> Slicing avec `loc`

In [ ]:
google_app_index.loc[:,["Category", "Rating", "Reviews","Size"]].head()

In [ ]:
google_app_index.iloc[2:5,3:8]

# Ajouter / Supprimer des colonnes d'un Dataframe

In [ ]:
category = google_app_index["Category"]

In [ ]:
category.head()

> Méthode Pour ajouter une colonne

In [ ]:
google_app_index["Category_bis"] = category

In [ ]:
google_app_index.head()

# Rappel des axis

<img src="../axis.jpg" alt="drawing" />

> Pour supprimer des colonnes

In [ ]:
google_app_index.drop(["Category_bis", "Android Ver"], axis=1).head()

In [ ]:
google_app.shape

In [ ]:
google_app.columns

> Gestion des valeurs manquantes

In [ ]:
google_app.isna().sum()
# Le nombre de NAN

> Pour supprimer toutes les lignes contenant un NAN avec la méthode `dropna()`

In [ ]:
google_app_dropna = google_app.dropna()

In [ ]:
google_app_dropna.isna().sum()

In [ ]:
google_app_dropna.shape

In [ ]:
google_app_dropna.head()

> Pour trier en sélectionnant une colonne

In [ ]:
google_app_dropna.sort_values(by='Rating').head()

In [ ]:
google_app_dropna.describe()

In [ ]:
google_app_dropna.dtypes

> Faire une

In [ ]:
google_app_dropna.describe(include="all")

> Transformer un text en nombre

In [ ]:
google_app_dropna["Installs"] = google_app_dropna["Installs"].apply(lambda x : x.replace(",",""))
google_app_dropna["Installs"] = google_app_dropna["Installs"].apply(lambda x : x.replace("+",""))

In [ ]:
google_app_dropna.dtypes

> Pour convertir un str en int

In [ ]:
google_app_dropna["Installs"] = google_app_dropna["Installs"].apply(lambda x : int(x))

In [ ]:
google_app_dropna.dtypes

In [ ]:
google_app_dropna

In [ ]:
google_app_dropna.describe()

> Transformer la colonne `Reviews` str en int

In [ ]:
google_app_dropna["Reviews"] = google_app_dropna["Reviews"].apply(lambda x : int(x))

In [ ]:
google_app_dropna.describe()

In [ ]:
google_app_dropna['Type'].value_counts()

> Pour afficher une colonne supérieur à nombre (pour filtrer)

In [ ]:
google_app_dropna.loc[google_app_dropna['Rating']>4.5,:].head()

In [ ]:
google_app_dropna.loc[google_app_dropna['Category']=="BUSINESS",:]

> Méthode pour filtrer

In [ ]:
google_app_dropna.loc[(google_app_dropna["Category"]=="BUSINESS") & (google_app_dropna["Rating"]>4)  & (google_app_dropna["Type"]=="Free")].head()

> Utilisation de méthode `groupby()`

In [ ]:
google_app_dropna['Price'].unique()

In [ ]:
google_app_dropna["Price"] = google_app_dropna["Price"].apply(lambda x : x.replace("$",""))
google_app_dropna["Price"] = google_app_dropna["Price"].apply(lambda x : float(x))

In [ ]:
google_app_dropna['Price'].unique()

In [ ]:
google_app_dropna.head()

In [ ]:
google_app_dropna.groupby("Category").describe()

In [ ]:
google_app_dropna.groupby(["Category","Genres"]).describe()

# EXERCICE

## 1. Quels sont les noms, les catégories et les genres des applications les installées sur Google play ?

In [ ]:
nombre_install_max = google_app_dropna["Installs"].max()
nombre_install_max

In [ ]:
google_app_dropna.loc[google_app_dropna["Installs"] == nombre_install_max, ["App","Category","Genres"]]

## 2. Quels est le plus grand nombre de Reviews ? (avis) Quel est le nom et la note globale de l'application concernée ?

In [ ]:
google_app_dropna[google_app_dropna["Reviews"] == google_app_dropna["Reviews"].max()]

Ou

In [ ]:
plus_grand_nombre_de_reviews = google_app_dropna["Reviews"].max()
plus_grand_nombre_de_reviews

In [ ]:
google_app_dropna.loc[google_app_dropna["Reviews"] == plus_grand_nombre_de_reviews, ["App", "Rating"]]

## 3. Afficher les colonnes 2, 5 , 6 et les lignes 3 à 16 du dataframe

In [ ]:
google_app_dropna.iloc[2:16,[1,4,5]]

## 4. Combien y a-t-il d'applications ouvertes aux personnes de tous âge ?

In [276]:
google_app_dropna[google_app_dropna["Content Rating"] == "Everyone"].shape

(7414, 13)

Ou

In [275]:
google_app_dropna.loc[google_app_dropna["Content Rating"] == "Everyone"].shape

(7414, 13)

## 5. Dans quelle catégories y a-t-il le plus d'applications ?

In [277]:
google_app_dropna.groupby("Category").count().max()

App               1746
Rating            1746
Reviews           1746
Size              1746
Installs          1746
Type              1746
Price             1746
Content Rating    1746
Genres            1746
Last Updated      1746
Current Ver       1746
Android Ver       1746
dtype: int64

In [280]:
google_app_dropna.groupby("Category").agg(['count'])

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
,count,count,count,count,count,count,count,count,count,count,count,count
Category,,,,,,,,,,,,
ART_AND_DESIGN,61,61,61,61,61,61,61,61,61,61,61,61
AUTO_AND_VEHICLES,73,73,73,73,73,73,73,73,73,73,73,73
BEAUTY,42,42,42,42,42,42,42,42,42,42,42,42
BOOKS_AND_REFERENCE,178,178,178,178,178,178,178,178,178,178,178,178
BUSINESS,303,303,303,303,303,303,303,303,303,303,303,303
COMICS,58,58,58,58,58,58,58,58,58,58,58,58
COMMUNICATION,328,328,328,328,328,328,328,328,328,328,328,328
DATING,195,195,195,195,195,195,195,195,195,195,195,195
EDUCATION,155,155,155,155,155,155,155,155,155,155,155,155
ENTERTAINMENT,149,149,149,149,149,149,149,149,149,149,149,149
EVENTS,45,45,45,45,45,45,45,45,45,45,45,45
FAMILY,1746,1746,1746,1746,1746,1746,1746,1746,1746,1746,1746,1746
FINANCE,323,323,323,323,323,323,323,323,323,323,323,323
FOOD_AND_DRINK,109,109,109,109,109,109,109,109,109,109,109,109
GAME,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
HEALTH_AND_FITNESS,297,297,297,297,297,297,297,297,297,297,297,297
HOUSE_AND_HOME,76,76,76,76,76,76,76,76,76,76,76,76
LIBRARIES_AND_DEMO,64,64,64,64,64,64,64,64,64,64,64,64
LIFESTYLE,314,314,314,314,314,314,314,314,314,314,314,314
MAPS_AND_NAVIGATION,124,124,124,124,124,124,124,124,124,124,124,124
MEDICAL,350,350,350,350,350,350,350,350,350,350,350,350
NEWS_AND_MAGAZINES,233,233,233,233,233,233,233,233,233,233,233,233
PARENTING,50,50,50,50,50,50,50,50,50,50,50,50
PERSONALIZATION,312,312,312,312,312,312,312,312,312,312,312,312
PHOTOGRAPHY,317,317,317,317,317,317,317,317,317,317,317,317
PRODUCTIVITY,351,351,351,351,351,351,351,351,351,351,351,351
SHOPPING,238,238,238,238,238,238,238,238,238,238,238,238
SOCIAL,259,259,259,259,259,259,259,259,259,259,259,259
SPORTS,319,319,319,319,319,319,319,319,319,319,319,319
TOOLS,733,733,733,733,733,733,733,733,733,733,733,733
TRAVEL_AND_LOCAL,226,226,226,226,226,226,226,226,226,226,226,226
VIDEO_PLAYERS,160,160,160,160,160,160,160,160,160,160,160,160
WEATHER,75,75,75,75,75,75,75,75,75,75,75,75

## 6. Quelle est l'application vendu la plus chère ?

In [281]:
google_app_dropna[google_app_dropna["Price"] == google_app_dropna["Price"].max()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4367,I'm Rich - Trump Edition,LIFESTYLE,3.6,275,7.3M,10000,Paid,400.0,Everyone,Lifestyle,"May 3, 2018",1.0.1,4.1 and up