# Client Olist - Phase 1 Analyse du fichier source `Geolocation`

## Importation des fichiers

In [80]:
import pandas as pd
import numpy as np

In [81]:
df_geolocation = pd.read_csv('../SOURCE/olist_geolocation_dataset.csv')

# Nombre de ligne et de colonne
print('Data geolocation', df_geolocation.shape)

Data geolocation (1000163, 5)

In [82]:
df_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [83]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [84]:
df_geolocation.describe()

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

In [85]:
df_geolocation.isnull().any()

geolocation_zip_code_prefix    False
geolocation_lat                False
geolocation_lng                False
geolocation_city               False
geolocation_state              False
dtype: bool

In [86]:
df_geolocation.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [87]:
for col in df_geolocation.columns:
    print(col, df_geolocation[col].unique().shape)

geolocation_zip_code_prefix (19015,)
geolocation_lat (717360,)
geolocation_lng (717613,)
geolocation_city (8011,)
geolocation_state (27,)

In [88]:
cols = df_geolocation.select_dtypes(include=[object]).columns
df_geolocation[cols] = df_geolocation[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

In [89]:
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("são paulo", 'sao paulo')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("sa£o paulo", 'sao paulo')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("sãopaulo", 'sao paulo')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("sp", 'sao paulo')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("carapicuíba", 'carapicuiba')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("abadiânia", 'abadiania')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("abaeté", 'abaete')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("abaíra", 'abaira')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("abaré", 'abare')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("abatiá", 'abatia')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("açailândia", 'acailandia')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acará", 'acara')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acaraú", 'acarau')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acauã", 'acaua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("aceguá", 'acegua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acrelândia", 'acrelandia')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acreúna", 'acreuna')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("açu", 'acu')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("açucena", 'acucena')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("adrianópolis", 'adrianopolis')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("afonso cláudio", 'afonso claudio')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("afrânio", 'afranio')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("agricolândia", 'agricolandia')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("agrolândia", 'agrolandia')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("agronômica", 'agronomica')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("água boa", 'agua boa')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("água branca", 'agua branca')


df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("aceguá", 'acegua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acauã", 'acaua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("aceguá", 'acegua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("acauã", 'acaua')
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].replace("aceguá", 'acegua')

In [90]:
df_name = df_geolocation['geolocation_city'].unique()

In [94]:
df_geolocation = df_geolocation.drop('geolocation_city', axis=1)

In [95]:
df_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_state
0,1037,-23.545621,-46.639292,SP
1,1046,-23.546081,-46.644820,SP
2,1046,-23.546129,-46.642951,SP
3,1041,-23.544392,-46.639499,SP
4,1035,-23.541578,-46.641607,SP
...,...,...,...,...
1000158,99950,-28.068639,-52.010705,RS
1000159,99900,-27.877125,-52.224882,RS
1000160,99950,-28.071855,-52.014716,RS
1000161,99980,-28.388932,-51.846871,RS
1000162,99950,-28.070104,-52.018658,RS

In [99]:
df_geolocation = df_geolocation.groupby(by=["geolocation_zip_code_prefix",'geolocation_state'])['geolocation_lng','geolocation_lat'].mean()
df_geolocation = df_geolocation.reset_index()
df_geolocation

C:\Users\USER\AppData\Local\Temp/ipykernel_14920/3385828449.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_geolocation = df_geolocation.groupby(by=["geolocation_zip_code_prefix",'geolocation_state'])['geolocation_lng','geolocation_lat'].mean()

,geolocation_zip_code_prefix,geolocation_state,geolocation_lng,geolocation_lat
0,1001,SP,-46.634024,-23.550190
1,1002,SP,-46.634979,-23.548146
2,1003,SP,-46.635731,-23.548994
3,1004,SP,-46.634757,-23.549799
4,1005,SP,-46.636733,-23.549456
...,...,...,...,...
19018,99960,RS,-52.025511,-27.953722
19019,99965,RS,-52.039850,-28.183372
19020,99970,RS,-51.874689,-28.343766
19021,99980,RS,-51.843836,-28.389129
19022,99990,RS,-51.769362,-28.329595

In [100]:
df_geolocation

,geolocation_zip_code_prefix,geolocation_state,geolocation_lng,geolocation_lat
0,1001,SP,-46.634024,-23.550190
1,1002,SP,-46.634979,-23.548146
2,1003,SP,-46.635731,-23.548994
3,1004,SP,-46.634757,-23.549799
4,1005,SP,-46.636733,-23.549456
...,...,...,...,...
19018,99960,RS,-52.025511,-27.953722
19019,99965,RS,-52.039850,-28.183372
19020,99970,RS,-51.874689,-28.343766
19021,99980,RS,-51.843836,-28.389129
19022,99990,RS,-51.769362,-28.329595

In [101]:
df_geolocation.to_csv('../DATA/df_geolocation.csv',index=False)