# Client Olist - Phase 1 Analyse du fichier source `Orders`

## Importation des fichiers

In [16]:
import pandas as pd
import numpy as np

In [17]:
df_order = pd.read_csv('../SOURCE/olist_orders_dataset.csv')

# Nombre de ligne et de colonne
print('Data order', df_order.shape)

Data order (99441, 8)

In [18]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [19]:
df_order.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [20]:
df_order.isnull().any()

order_id                         False
customer_id                      False
order_status                     False
order_purchase_timestamp         False
order_approved_at                 True
order_delivered_carrier_date      True
order_delivered_customer_date     True
order_estimated_delivery_date    False
dtype: bool

In [21]:
df_order.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [22]:
for col in df_order.columns:
    Nb_unique = df_order[col].unique().shape[0]
    Nb_value = df_order[col].count()
    print(f'dans la colonne {col} il y a {Nb_unique} unique et tant {Nb_value} de valeur')

dans la colonne order_id il y a 99441 unique et tant 99441 de valeur
dans la colonne customer_id il y a 99441 unique et tant 99441 de valeur
dans la colonne order_status il y a 8 unique et tant 99441 de valeur
dans la colonne order_purchase_timestamp il y a 98875 unique et tant 99441 de valeur
dans la colonne order_approved_at il y a 90734 unique et tant 99281 de valeur
dans la colonne order_delivered_carrier_date il y a 81019 unique et tant 97658 de valeur
dans la colonne order_delivered_customer_date il y a 95665 unique et tant 96476 de valeur
dans la colonne order_estimated_delivery_date il y a 459 unique et tant 99441 de valeur

In [23]:
df_order["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [25]:
for ligne in df_order["order_status"].unique():
    df_order_etat = df_order[df_order["order_status"]==ligne]
    print(f"etat de la commande : {ligne} et nombre de ligne en cours {df_order_etat.shape[0]}")

etat de la commande : delivered et nombre de ligne en cours 96478
etat de la commande : invoiced et nombre de ligne en cours 314
etat de la commande : shipped et nombre de ligne en cours 1107
etat de la commande : processing et nombre de ligne en cours 301
etat de la commande : unavailable et nombre de ligne en cours 609
etat de la commande : canceled et nombre de ligne en cours 625
etat de la commande : created et nombre de ligne en cours 5
etat de la commande : approved et nombre de ligne en cours 2