# Client Olist - Phase 1 Analyse du fichier source `Order Items`

## Importation fichier

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_order_items = pd.read_csv('../SOURCE/olist_order_items_dataset.csv')

# Nombre de ligne et de colonne
print('Data order items', df_order_items.shape)

Data order items (112650, 7)

In [4]:
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [5]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [6]:
df_order_items.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [7]:
df_order_items.isnull().any()

order_id               False
order_item_id          False
product_id             False
seller_id              False
shipping_limit_date    False
price                  False
freight_value          False
dtype: bool

In [8]:
df_order_items.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [9]:
for col in df_order_items.columns:
    print(col, df_order_items[col].unique().shape)

order_id (98666,)
order_item_id (21,)
product_id (32951,)
seller_id (3095,)
shipping_limit_date (93318,)
price (5968,)
freight_value (6999,)

In [10]:
df_order_items["order_item_id"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

In [26]:
df = df_order_items.groupby(by=["order_id"]).sum()
df = df.reset_index()

In [28]:
df[df["order_item_id"]>3]

                               order_id  order_item_id   price  freight_value
31     00143d0f86d6fbd9f9b38ab440ac16f5              6   63.99          45.30
39     001ab0a7578dd66cd4b0a71f5b6e1e41              6   74.67          52.89
124    00526a9d4ebde463baee25f386963ddc             10  135.56          33.60
134    005d9a5423d47281ac463a968b3936fb              6   99.97          45.28
228    00a57dfbb049fbaae10763e2cf15f797              6  269.70          67.68
...                                 ...            ...     ...            ...
98563  ffb8f7de8940249a3221252818937ecb              6  189.49          55.63
98564  ffb9a9cd00c74c11c24aa30b3d78e03b             10  529.60          77.35
98600  ffd6f465cab015b452d398ac1f5d978a              6   23.52          66.18
98637  ffecd5a79a0084f6a592288c67e3c298              6   65.70          47.37
98659  fffb9224b6fc7c43ebb0904318b10b5f             10  220.00         136.76

[2287 rows x 4 columns]

In [29]:
df_order_items[df_order_items["order_id"]=="ffb9a9cd00c74c11c24aa30b3d78e03b"]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
112533,ffb9a9cd00c74c11c24aa30b3d78e03b,1,fec565c4e3ad965c73fb1a21bb809257,da8622b14eb17ae2831f4ac5b9dab84a,2017-03-22 17:20:21,89.9,18.34
112534,ffb9a9cd00c74c11c24aa30b3d78e03b,2,fec565c4e3ad965c73fb1a21bb809257,da8622b14eb17ae2831f4ac5b9dab84a,2017-03-22 17:20:21,89.9,18.34
112535,ffb9a9cd00c74c11c24aa30b3d78e03b,3,03bb06cda40712fb8473f7962fb7d198,da8622b14eb17ae2831f4ac5b9dab84a,2017-03-22 17:20:21,129.9,18.49
112536,ffb9a9cd00c74c11c24aa30b3d78e03b,4,3321ad579f19476d0d668f726f8dffec,da8622b14eb17ae2831f4ac5b9dab84a,2017-03-22 17:20:21,219.9,22.18

In [30]:
df_order_items.to_csv('../DATA/df_order_items.csv',index=False)