# Client Olist - Phase 1 Analyse du fichier source `Product Category`

## Importation des fichiers

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_product_category = pd.read_csv('../SOURCE/product_category_name_translation.csv')

# Nombre de ligne et de colonne
print('Data Product Category', df_product_category.shape)

Data Product Category (71, 2)

In [3]:
df_product_category

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [4]:
df_product_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [5]:
df_product_category.describe()

       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

In [6]:
df_product_category.isnull().any()

product_category_name            False
product_category_name_english    False
dtype: bool