# Client Olist - Phase 1 Analyse du fichier source `SellersÂ²`

## Importation des fichiers

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sellers = pd.read_csv('../SOURCE/olist_sellers_dataset.csv')

# Nombre de ligne et de colonne
print('Data sellers', df_sellers.shape)

Data sellers (3095, 4)

In [3]:
df_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [4]:
df_sellers.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

In [5]:
df_sellers.isnull().any()

seller_id                 False
seller_zip_code_prefix    False
seller_city               False
seller_state              False
dtype: bool